body{
    font-family: 'Inter', sans-serif;
    background-color: #004643;
    color: #abd1c6;
}

h1,h2,h3,h4,h5,h6{
    color: #fffffe;
}

.page-title{
    text-align: center;
}

/* adding custome emoji */
.emoji-list li{
    list-style: none;
    font-size: 20px;
}
/* using before to add custome emoji infront of a list */
.emoji-list li::before{
    content: '😜';
    padding-right: 12px;

}

/* Emoji list using span for single element */
.single-span li{
    list-style: none;
    font-size: 20px;
}